<style>
	body {
		background: white;
		color: black;
		margin: 0;
	}

	.primary {
		color: rgb(55, 89, 147);
	}
	.secondary {
		color: rgb(54, 126, 127);
	}

	.size-large {
		font-size: 30px;
	}
	h2 {
		text-transform: uppercase;
		font-size: 18px
	}

	section {
		margin-bottom: 20px;
	}
	section:last-child {
		margin: 0;
	}
	address {
		font-style: normal;
	}

	.flex-container {
		display: flex;
	}
	.title-container {
		display: flex;
		justify-content: space-between;
	}
	.grow1 {
		flex-basis: 25%;
		margin: 0;
	}
	.grow3 {
		flex-basis: 75%;
		margin: 0;
	}

	ul {
		padding: 0;
	}
	li {
		list-style: none;
	}
	.details {
		margin-left: 25px;
	}
	.details li {
		list-style: initial;
	}
</style>
